body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #bfbeda;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Ajout de justification centrée */
    text-align: center;
}

li{
    list-style: none;
  }
  
  a{
    color: #000000;
    text-decoration: none;
  }


h1 {
    text-align: center;
    font-size: 15px;
}

.menu {
    margin-top: 0px;
    display: flex; 
    align-items: center; 
}

.menu img {
    width: 50px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .menu img {
        width: 40px;
        padding-right: 10px;
    }

    h2 {
        font-size: 2rem;
        margin-left: 35px;
    }
}

@media screen and (max-width: 400px) {
    .menu img {
        width: 20px;
        padding-right: 10px;
    }

    h2 {
        font-size: 2rem;
        margin-left: 35px;
    }
}

@media screen and (max-width: 350px) {
    .menu img {
        width: 20px;
        padding-right: 10px;
    }

    h2 {
        font-size: 1.5rem;
        margin-left: 35px;
    }
}


/*bouton retour*/

h2 {
    color: #ffffff;
    margin: 0;
    padding: 40px 0;
    text-align: center;
    margin: 0; 
}

.retour {
    display: flex;
    align-items: center;
    background-color: #484495;
}

.bouton {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 10px;
    
}

.icon.retour {
    height: 24px;
    width: 24px;
    padding: 5px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    margin-left: 10px;
    bottom: 20px;
    cursor: pointer;
}

/* fin bouton retour*/ 

.icon {
    width: 50px;
}

@media only screen and (max-width:750px) {
    .bouton {
        height: 35px;
        width: 35px;
    }
    .icon {
        height: 35px;
        width: 35px;
    }
}

.main-content {
    text-align: center;
    margin-top: 50px;
}

.button {
    display: block;
    background-color: #ffffff;
    border-radius: 20px;
    color: #006CB6;
    text-align: center;
    font-size: 20px;
    padding: 15px 30px;
    width: auto;
    cursor: pointer;
    margin: 10px;
    transition: all 0.5s;
}
